*{
    font-family: 'Roboto', sans-serif;
}

.header{
    min-height: 145vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url("../images/background.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.navigation{
    flex: 1;
    text-align: right;

}

.navigation ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
    position: relative;
}

.navigation ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.active{
   border-bottom-width: 10px;
   padding-bottom: 3px;
   border-bottom: 1px solid white;
}

.text-box{
    font-family: 'Roboto', sans-serif;
    width: 90%;
    color: #fff;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    position: relative;
    top: auto;
    margin-top: 10%;
    
}
.text-box p{
    margin: 10px 0 40px;
    font-size:14px;

}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

  .navigation a.active {
    border-bottom: 3px solid red;
  }
 
  .about{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;

  }

  h1{
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 20px;
  }

  .about p{
    color: black;
    font-size: 14;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
  }

  .promos{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
  }

  img{
    
    width:200px;
    align-items: center;
    justify-content: center;
    object-position: bottom;
    padding: 5px;
    
  }
  img:hover{
    transition:transform 0.25s ease;
    transform:scale(1.25);
  }

  @media only screen and (min-width: 350px){
    /* .text-box h1{
      font-size: 40px;
      font-weight: 600;
      position: center; top: -200;
    } */
    .text-box h1{
      font-size:30px;
      font-weight: 600;
      margin-top: 35%;
    }

    .navigation{
      flex: 1;
      text-align: center;
  
  }
  .promos{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
  }
  
  
  .navigation ul li{
      list-style: none;
      display: inline-block;
      padding: 10px 10px;
      position: relative;
  }
  
  .navigation ul li a{
      color: white;
      text-decoration: none;
      font-size: 14px;
      
  }
}


  @media only screen and (min-width: 750px){
    .text-box h1{
      font-size: 62px;
      font-weight: 600;
    }
    .navigation{
      flex: 1;
      text-align: center;
    
    }
    
    .navigation ul li{
      list-style: none;
      display: inline-block;
      padding: 15px 35px;
      position: relative;
    }
    
    .navigation ul li a{
      color: white;
      text-decoration: none;
      font-size: 20px;
    }
    .promos{
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: normal;
      padding-bottom: 5%;
    }

  }

  @media only screen and (min-width: 1000px){
    nav{
      display: flex;
      padding: 2% 6%;
      justify-content: space-between;
      align-items: center;
      font-family: 'Roboto', sans-serif;
  }
  .text-box{
    font-family: 'Roboto', sans-serif;
    width: 90%;
    color: #fff;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    position: relative;
    top: auto;
    margin-top: 10%;
    
}
.text-box p{
    margin: 10px 0 40px;
    font-size:14px;

}
  
  .navigation{
      flex: 1;
      text-align: right;
  
  }
  
  .navigation ul li{
      list-style: none;
      display: inline-block;
      padding: 10px 30px;
      position: relative;
  }
  
  .navigation ul li a{
      color: white;
      text-decoration: none;
      font-size: 17px;
  }
  .promos{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
  }

  img{
    
    width:200px;
    align-items: center;
    justify-content: center;
    object-position: bottom;
    padding: 5px;
    
  }

  


  }
