/*Add padding and margin to space out the page.
Make the font larger too.*/
*{
  font-family: 'Roboto', sans-serif;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url("../images/background.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
}

body{

	font-size:150%;
	font-family: 'Roboto', sans-serif;
}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.navigation{
  flex: 1;
  text-align: right;

}

.navigation ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 30px;
  position: relative;
}

.navigation ul li a{
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;
}

.active{	
  border-bottom-width: 10px;	
  padding-bottom: 3px;	
  border-bottom: 1px solid white;	
}

.active a{
	text-decoration: none;;
}

/*Style the images*/
img{
    height: 175px;
	width:auto;
    border: 3px solid black;
    padding: 25px;
    border-radius: 20px;
    margin: 10px;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
  padding: 10px;
  font-family: 'Roboto', sans-serif;
	text-align: center;
  color: white;
}

/*Add borders around the main components and some
space too*/
header, main, footer{
	margin: 0;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url("../images/background.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }


.gallery {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
  }
  div>div {
    background-color: white;
  }


.container {
  position:relative;
}

.container img {
  width:80%;
  height:80%;
  object-fit:contain;
  align-items: center;
  justify-content: center;
  
}

.container .caption {
  background-color:rgba(0,0,0,0.5);
  display:flex;
  align-items:center;
  justify-content:center;
  position:absolute;
  width:93%;
  height:93%;
  top:0;
  left:0;
  color:#fff;
  font-family:sans-serif;
  opacity:0;
  transition:opacity 0.3s;
  border-radius: 20px;
}

.container:hover .caption {
  opacity:1;
}

