/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
	font-family: 'Raleway,sans-serif';
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;
}

.active{
	background: white;
    text-transform: uppercase;
	text-align: center;
}

.active a{
	text-decoration: none;;
}

/*Style the images*/
img{
    height: 175px;
	width:auto;
    border: 3px solid black;
    padding: 25px;
    border-radius: 20px;
    margin: 10px;
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
	font-family: Raleway, sans-serif;
	text-align: center;
}

/*Add borders around the main components and some
space too*/
header, nav, main, footer{
	border: 3px solid black;
	margin: 20px 0;
}


/*Change the styling for all of the list 
items in the nav section*/
nav li{
	/* background-color: #ECFF4D; */
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
}

/*Added this so the links stay the same color*/
a:visited{color:#0000FF}

/* .zoom {
	padding: 50px;
	background-color: white;
	transition: transform .2s; /* Animation */
	/* width: 200px;
	height: 200px;
	margin: 0 auto;
} */

/* .zoom:hover { */
	/*transform: scale(1.5);  (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  /* } */



.gallery {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
  }
  div>div {
    background-color: white;
  }


.container {
  position:relative;
}

.container img {
  width:80%;
  height:80%;
  object-fit:contain;
  align-items: center;
  justify-content: center;
  
}

.container .caption {
  background-color:rgba(0,0,0,0.5);
  display:flex;
  align-items:center;
  justify-content:center;
  position:absolute;
  width:93%;
  height:93%;
  top:0;
  left:0;
  color:#fff;
  font-family:sans-serif;
  opacity:0;
  transition:opacity 0.3s;
  border-radius: 20px;
}

.container:hover .caption {
  opacity:1;
}

